<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet" crossorigin="anonymous">
    <title>Empleados</title>
</head>
<body>
<header class="header ">
    <nav>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="/empleados">Empleados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/historial">Historial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reportes">Reportes</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <h1 class="pb-2 mb-4 border-bottom">Lista de Empleados</h1>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th scope="col"># de Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Puesto</th>
                <th scope="col">Departamento</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Número de telefono</th>
                <th scope="col">Salario</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hospital, vEstado: ${listaHospitales}">
                <td th:text="${hospital.getNombre()}"></td>
                <td th:text="${hospital.getDireccion()}"></td>
                <td th:text="${hospital.getTelefono()}"></td>
                <td>
                    <a th:href="@{'/hospital/mostrar/doctores/' + ${hospital.getId()}}" class="btn btn-outline-dark">Mostrar doctores</a>
                </td>
                <td>
                    <a th:href="@{'/hospital/mostrar/pacientes/' + ${hospital.getId()}} " class="btn btn-outline-primary">Mostrar pacientes</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</main>
</body>
</html>